body {
	padding: 0;
	margin: 0;
	font-family: 'PT Serif', serif;
	/*font-family: 'PT Sans', sans-serif;*/
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header-content {
	margin: 34px 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content-logo {
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 33px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #171717;
	position: relative;
}

.header-content-logo:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	bottom: 4px;
	left: 0;
	background: #C9A96E;
	opacity: 0.35;
	z-index: -1;
}

.header-content-navigation {
	display: flex;
}

.header-content-navigation-page {
	margin-right: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #171717;
}

.header-content-navigation-page.active {
	color: #C9A96E;
}

.header-content-navigation-page:last-child {
	margin-right: 0;
}

.slide {
	width: 100%;
	height: 700px;
	background: url("../image/Your image here.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.slide-content {
	width: 1170px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.slide-content-theme {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 4px;
}

.slide-content-title {
	width: 560px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.slide-content-info {
	display: flex;
	margin-bottom: 59px;
}

.slide-content-info div {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	margin-right: 20px;
}

.slide-content-info div:last-child {
	margin-right: 0;
}



@media screen and (max-width: 1000px) {
	
}





@media screen and (max-width: 620px) {
	
}





@media screen and (max-width: 1000px) and (min-width: 621px) {
	
}






